body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(0, 36, 91);
  color: #fff;
  text-align: center;
}
h1 {
  text-align: center;
  color: #ffffff;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"] {
  padding: 5px;
  font-size: 16px;
}
button , #startAgain{
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
#feedback {
  margin-top: 20px;
  font-weight: bold;
}
#result{
    margin-top: 2rem;
}